.root {
    /*-fx-background-color:derive(#1d1d1d,70%);*/
}

.root {
    -fx-border-style: none;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.5), 30, 0, 0, 15);
}

.menu-bar {
/*    -fx-background-color: derive(#1d1d1d,20%); */
    -fx-background-color: none;
}

.context-menu {
   /* -fx-background-color: derive(#1d1d1d,50%);*/
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

